*{
    box-sizing: border-box;
}
body {
    background: #EEF9BF;
    display: flex;
    align-items: center;
    flex-direction: column;
}
header{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 40px;
    height: 63px;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 56px;
    line-height: 66px;
    letter-spacing: -0.004em;
    color: #75B79E;
    text-align: center;
}
main{
    max-width: 906px;
    display: flex;
    align-items: center;
    justify-content:center;
    flex-wrap: wrap;
    margin-top: 13px;
}
.card{
    
    border-radius: 5px;
    position: relative;
    width: 117px;
    height: 146px;
    margin:34px 17px 0px 17px;
}
.face {
    width: 100%;
    height: 100%;
    background-color: #A7E9AF;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    backface-visibility: hidden;
    transition: all .5s;
    transform-style: preserve-3d;
    border: 1px solid #99CEA8;
}
.back-face {
    transform: rotateY(180deg);
}
.virar .back-face,.virada .back-face {
    transform: rotateY(0deg);
}
.virar .front-face,.virada .front-face {
    transform: rotateY(-180deg);
}

img{
    width: 100px;
    height: 100px;
}
.segundos{
    position:fixed;
    top: 0px;
    right: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:rgba(0, 0, 0, 0.3);
    color: rgba(0, 0, 0, 0.5);
    width: 70px;
    height: 50px;
    font-size: large;
    border-radius: 10px;  
}
.tema{
    display: flex;
    align-items:stretch;
    justify-content: space-between;
    width: 500px;
    height: 500px;
    flex-direction: column;
    margin-top: auto;
    position: fixed;
    top: 50%;
    right: 50%;
    transform: translateX(50%) translateY(-50%);
}
.tema div{
    display: flex;
    justify-content: space-between;
}
.tema img{
    width: 150px;
    height: 150px;
}
@media screen and (max-width:425px) {
    main{
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-top: 60px;
    }
    .segundos{
        top: 112px;
    }
}
.escondido{
    display: none;
}